.header {
	display: flex;
	position: relative;
	color: white;
	height: 90px;
	border: 1px solid;
	justify-content: center;
	align-items: center;
	background-color: rgb(136, 133, 133);
}

.main {
	display: flex;
	height: 1000px;
	border: 1px solid;
}

.entry {
	display: flex;
	border: 1px solid red;
	width: 35%;
}
.preview {
	display: flex;
	border: 1px solid blue;
	width: 65%;
}
