@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@757&family=Poppins:wght@300&display=swap");

body {
	/* font-family: "Poppins", sans-serif;
	f */
	/* font-weight: bold; */
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.header {
	display: flex;
	position: relative;
	color: white;
	height: 90px;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
	font-family: "Josefin Sans", cursive;
}

.main {
	display: flex;
	height: 1000px;
	
}

.entry {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 35%;
	margin-left: 30px;
}
.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 65%;
}

.preview-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	
	width: 73%;
	height: 800px;
	margin-top: 22px;
	border-radius: 4px;
	border: 0.5px solid grey;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	white-space: pre-wrap;
}

.entry-header {
	color: black;
	font-size: 25px;
	margin-bottom: 5px;
}

.entry-section {
	width: 85%;
	height: auto;
}

input {
	font: inherit;
	letter-spacing: inherit;
	color: currentcolor;
	border: 0.5px solid grey;
	border-radius: 4px;
	box-sizing: content-box;
	background: none;
	height: .5em;
	margin: 0px;
	-webkit-tap-highlight-color: transparent;
	display: block;
	min-width: 0px;
	width: 100%;
	animation-name: mui-auto-fill-cancel;
	animation-duration: 10ms;
	padding: 16.5px 14px;
}

textarea {
	font: inherit;
	letter-spacing: inherit;
	color: currentcolor;
	border: 0.5px solid grey;
	border-radius: 4px;
	box-sizing: content-box;
	background: none;
	height: 1.4375em;
	margin: 0px;
	-webkit-tap-highlight-color: transparent;
	display: block;
	min-width: 0px;
	width: 100%;
	animation-name: mui-auto-fill-cancel;
	animation-duration: 10ms;
	padding: 16.5px 14px;
	white-space: pre-wrap;
}

.name {
	font-size: 45px;
}

.contact-info {
	display: flex;
	border-bottom: 1px solid;
}
.preview-personal {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.preview-experience {
	display: flex;
	flex-direction: column;
	padding-left: 25px;
}

h3 {
	width: 100%;
	font-weight: bolder;
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 2px;
	margin-bottom: 0;
}

.details {
	display: flex;
	width: 95%;
	padding-left: 25px;
	
}

.dates {
	display: flex;
	justify-content: space-between;
	height: 35px;
	align-items: center;
	width: 100%;
	font-size: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
}

.dates h2 {
	font-size: large;
	font-weight: bolder;
}

.dates div {
	display: flex;
	font-size: 12px;
	margin-right: 8px;
	
}

span {
	font-style: italic;
	font-weight: 700;
}

button {
	height: 40px;
	background-color: white;
	border: thin solid black;
	border-radius: 5px;
	margin-top: 5px;
}

button:hover {
	background-color: rgb(245, 243, 243);
}

.delete-button {
	height: 25px;
	margin-left: 5px;
}
